
body {
    background: linear-gradient(to right, #c9d6ff, #ffffff); /* Beginnt mit einem sanften Blau und verläuft sanft in Weiß */
    margin: 0; /* Entfernt den Standard-Außenabstand */
    height: 100vh; /* Gibt dem Container die volle Höhe des Viewports */
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    justify-content: center; /* Zentriert die Kinder horizontal */
    align-items: center; /* Zentriert die Kinder vertikal */
    min-height: 100vh; /* Gibt dem Container die volle Höhe des Viewports */
}

.page-container {
    align-self: center;
    display: flex; /* Aktiviert Flexbox */
    flex-direction: column; /* Stapelt die Kinder vertikal */
    justify-content: center; /* Zentriert Inhalte vertikal */
    align-items: center; /* Zentriert Inhalte horizontal */
    height: 100vh; /* Setzt die Höhe auf die gesamte Ansichtshöhe */
    width: 100vw;
    background: inherit;
}

.training-entries {
    background-color: #ffffff; /* Hintergrundfarbe */
    padding: 20px; /* Innenabstand */
    border-radius: 20px; /* Abgerundete Ecken */
    width: 30%; /* Breite des Containers */
}

.training-entries h2 {
    color: #000000; /* Farbe der Überschrift */
    text-align: center; /* Zentriert den Text */
}

.training-entries ul {
    list-style-type: none; /* Entfernt die Listensymbole */
    padding: 0; /* Entfernt den Innenabstand */
}

.training-entries li {
    margin-bottom: 10px; /* Abstand zwischen den Listenelementen */
    border-bottom: 1px solid #ccc; /* Trennlinie zwischen den Elementen */
    padding-bottom: 10px; /* Abstand am unteren Rand jedes Eintrags */
}

.entry h3 {
    color: #007BFF; /* Blaue Farbe für die Datumsanzeige */
}

.entry p {
    color: #666; /* Dunkelgraue Textfarbe */
    margin: 5px 0; /* Vertikaler Abstand für jeden Paragraphen */
}

.bold-text {
    font-weight: bold; /* Macht den Text fett */
}
